$dark_cyn: hsl(158, 36%, 37%);
$cream: hsl(30, 38%, 92%);
$dark_blue: hsl(212, 21%, 14%);
$gray_blue: hsl(228, 12%, 48%);
$White: hsl(0, 0%, 100%);
$para: "Montserrat", sans-serif;
$heading: "Fraunces", serif;

* {
  margin: 0;
  padding: 0;
}
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $para;
  background-color: $cream;
}
/* .container img{
    
height: 10%;
    width: 100%;
} */
.container {
  height: 100vh;
}
.main_container {
  height: 100%;
  padding: 0rem 22rem;
  border: none;
  border-radius: 10px;
  /* height: 100vh; */
  .Feature_img {
    padding: 0;
    .f_img {
      width: 100%;
      border: none;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
  }
  .type {
    color: $gray_blue;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .desc {
    color: $gray_blue;
    font-size: 14px;
  }
  .heading {
    font-family: $heading;
  }
  .price {
    font-family: $heading;
    color: $dark_cyn;
    font-size: 24px;
  }
  .discount {
    color: $gray_blue;
    text-decoration: line-through;
    font-family: $para;
    font-size: 14px;
  }
  .cart_btn {
    background-color: $dark_cyn;
    padding: 0.558594em 3.234375em;
    color: white;
    border: none;
    border-radius: 10px;
    &:hover {
      background-color: $dark_blue;
    }
  }

  .details {
    /* padding: 2.9rem 2rem; */
    background-color: $White;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
//responsive
@media only screen and (min-width: 1400px) {
 
  .details {
    padding: 3.3rem 2rem !important;
  }
  .main_container {
    padding: 0rem 22rem !important;
  }
}
@media only screen and (max-width: 1400px) {
 
  .details {
    padding: 3.55rem 2rem !important;
  } 
 .main_container {
    padding: 0rem 16rem !important;
  }
}
@media only screen and (max-width: 1200px) {
  
  .details {
    padding: 2.35rem  2rem !important;
  } 
 .main_container {
    padding: 0rem 12rem !important;
  }
}
@media only screen and (max-width: 1000px) {
 
  .details {
    padding: 2.55rem  2rem !important;
  } 
 /* .main_container {
    padding: 0rem 12rem !important;
  } */
}
@media only screen and (max-width: 992px) {
  
  .details {
    padding: 2.95rem  2rem !important;
  } 
 .main_container {
    padding: 0rem 4rem !important;
  }
}
@media only screen and (max-width: 770px) {
  
  .Feature_img{
    width: 100% !important;
    height: 50% !important;
    .f_img{
      border-radius: 0px !important;
      height: 100% !important;
    }
  }
  .details {
    width: 100% !important;
    height: 50% !important;
    border-radius: 0px !important;
    text-align: center !important;
    
  } 
  .main_container {
    padding: 0rem 0rem !important;
    
  }
 
}

